body  {
	margin: 0;
	padding: 0;
	color: #4b4b4b;
	background: url(images/bg_tile.gif);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

html, body {height: 100%;}

.clear, br {clear: both;}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

a:focus {outline-style: none;}
a img {border: none;}

img {display: block;}

a,
.title,
.title span,
#drop_downs a:after,
input[type="submit"] {
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

a:link{color: #a11d21; text-decoration: none;}
a:visited{color: #a11d21; text-decoration: none;}
a:hover{color: #a11d21; text-decoration: underline;}

h1, h2, h3, h4, h5 {
	margin-top: 0;
}

h5 {font-size: 18px; margin-bottom: 5px;}

#cart_count,
#nav a,
h4,
#product_header span {font-family: 'Oswald', Arial, sans-serif;}

/*---------------------------------------- STRUCTURE ----------------------------------------*/

#wrapper {
	background: #fff;
}

.content {
	width: 950px;
	margin: 0 auto;
}

#box {
	position: relative;
	margin: 12px 0 25px 0;
	background: #fff;
	box-shadow: 0px 0px 20px #000;
}

#top_cap, #bottom_cap {
	position: absolute;
	width: 100%;
	height: 30px;
	background: #fff;
}

	#top_cap {top: -12px; border-top: 1px solid #a4a4a4; z-index: 0;}
	#bottom_cap {bottom: -12px;}
	.ie #bottom_cap {bottom: 0;}

/*---------------------------------------- BUTTONS ----------------------------------------*/

a.cta,
input.cta {
	display: inline-block;
	position: relative;
	width: auto;
	height: auto;
	padding: 5px 10px;
	border-radius: 5px;
	border: 1px solid #c2c2c2;
	background-image: url(images/cta_overlay.png);
	background-position: 0 top;
	background-repeat: repeat-x;
	background-color: #c0c0c0;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
}

a.cta:hover,
input.cta:hover {
	cursor: pointer;
	background-position: 0 -40px;
	text-decoration: none;
}

a.cta.red, input.cta.red {background-color: #ad2226;}
a.cta.orange, input.cta.orange {background-color: #eb760f;}
a.cta.blue, input.cta.blue {background-color: #107bee;}
a.cta.green, input.cta.green {background-color: #46b42d;}

a.cta.arrow {padding-right: 22px;}

a.cta.arrow span {
	display: inline-block;
	width: 15px;
	position: absolute;
	top: -1px;
	right: -1px;
	bottom: -1px;
	background: url(images/cta_arrow.png) 0 -4px no-repeat;
}

/*---------------------------------------- CTA ----------------------------------------*/

#cta_bar {
	float: right;
	margin-top: 12px;
}

#cart_price {
	float: right;
	margin: 2px 0 0 10px;
	font-size: 14px;
	font-weight: bold;
	color: #a11d21;
}

#cart_count {
	width: 31px;
	height: 27px;
	margin-top: -3px;
	float: right;
	line-height: 10px;
	font-weight: 700;
	font-size: 18px;
	color: #a11d21;
	text-shadow: 1px 1px 1px #fff;
	text-align: center;
	background: url(images/icon_cart.gif) 0 3px no-repeat;
}

#sub_nav {
	float: right;
	margin: 4px 5px 0 0;
	color: #707070;
	font-size: 12px;
}

#sub_nav a {
	padding: 0 5px;
	color: #707070;
}

#sub_nav ul {
	float: left;
	padding: 0px;
	margin: 0px;
}

#sub_nav li {
	display: inline;
}
	
#vmCartModule {
	float: left;
}	

/*---------------------------------------- NAV ----------------------------------------*/

#navigation {
	height: 80px;
	position: relative;
	z-index: 1;
	border-bottom: 1px solid #d1d1d1;
}

#logo {
	display: block;
	float: left;
	width: 122px;
	height: 56px;
	margin-top: 12px;
	background: url(images/kb_murals_logo.gif) 0 0 no-repeat;
	text-indent: -5000px;
}

#social {
	float: left;
	margin: 1px 15px 0 0;
}

	#social a {
		display: block;
		width: 20px;
		height: 20px;
		float: right;
		margin-left: 10px;
		text-indent: -5000px;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
        filter: alpha(opacity=60);
        -moz-opacity: .6;
		opacity: .6;
	}

	#social a:hover {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        -moz-opacity: 1;
		opacity: 1;
	}

	#icon_facebook {background: url(images/icon_facebook.gif) 0 0 no-repeat;}
	#icon_pinterest {background: url(images/icon_pinterest.gif) 0 0 no-repeat;}
	#icon_twitter {background: url(images/icon_twitter.gif) 0 0 no-repeat;}

#nav {
	width: 530px;
	padding: 0;
	margin: 0;
	list-style: none;
	position: absolute;
	bottom: 0;
	right: 0;
}

	#nav li {
		display: block;
		float: right;
		margin-left: 20px;
	}

	#nav a {
		font-weight: 300;
		font-size: 24px;
		color: #707070;
	}

	#nav a:hover {
		text-decoration: none;
		color: #a11d21;
	}

/*---------------------------------------- Home Header ----------------------------------------*/

#home_header {
	height: 300px;
	margin-bottom: 20px;
}

/*---------------------------------------- Left & Right Content ----------------------------------------*/

#home_content_left,
#home_content_right {
	width: 474px;
	margin-bottom: 60px;
	position: relative;
    z-index: 1;
}

#home_content_left {
	float: left;
}

#home_content_right {
	float: right;
}

.title {
	height: 38px;
	width: 300px;
}

#ready_hang, #ready_hang span {background: url(images/ready_hang.gif) 0 0 no-repeat;}
#customize, #customize span {background: url(images/customize.gif) 0 0 no-repeat;}

	#ready_hang span, #customize span {
		display: block;
		width: 300px;
		height: 38px;
		background-position: 0 -38px;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        -moz-opacity: 0;
		opacity: 0;
	}

.kb_details {font-size: 14px;}
	.kb_details li {margin-bottom: 20px;}

a.actions {
	padding: 0 50px;
	display: block;
	margin-bottom: 30px;
	color: #bcbcbc;
}

	a.actions:hover {
		text-decoration: none;
		color: #242424;
	}

	a.actions:hover .title {color: #a11d21;}

	a.actions:hover #ready_hang span,
	a.actions:hover #customize span {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        -moz-opacity: 1;
		opacity: 1;
	}

.video_cta {
	display: block;
	width: 286px;
	height: 200px;
	margin: 0 auto;
	background: red;
}

	#video_ready_hang {background: url(images/video_ready_hang.jpg) 0 0 no-repeat;}
	#video_customize {background: url(images/video_customize.jpg) 0 0 no-repeat;}

.holder {display: none;}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(images/overlay.png);
    background: rgba(0, 0, 0, .5);
    z-index: 2000;
}

#modal {
    position: fixed;
    left: 50%;
    top: 50%;
    background: #f3f3f5;
    background: rgba(0, 0, 0, .2);
    border-radius: 10px;
    z-index: 3000;
}

#modal_content {
    position: relative;
    margin: 15px;
    padding: 15px 15px 5px 15px;
    background: #FFFFFF;
    border-radius: 5px;
    line-height: 18px;
}

    #modal_content p {
        margin: 0 0 5px 0;
    }

#close {
    display: block;
    width: 42px;
    height: 42px;
    background: url(images/modal_close.png) 0 0 no-repeat;
    position: absolute;
    right: -5px;
    top: -3px;
    z-index: 4000;
}

/*---------------------------------------- Sub Pages ----------------------------------------*/

#breadcrumb {
	height: 60px;
	line-height: 60px;
	color: #c2c2c2;
	font-size: 18px;
}

	#breadcrumb i {
		display: inline-block;
		width: 11px;
		height: 18px;
		margin: 0 5px;
		vertical-align: sub;
		background: url(images/breadcrumb_arrow.gif) 0 top no-repeat;
	}

	#breadcrumb i.grey {background-position: 0 bottom;}

	#breadcrumb span {color: #a11d21;}

	#breadcrumb a {color: #c2c2c2;}
	#breadcrumb a:hover {color: #1f1d1e;}

#drop_downs {
	float: right;
	position: relative;
}

	#drop_downs span {
		position: relative;
		color: inherit;
		font-size: 14px;
		display: inline-block;
		padding-right: 15px;
		margin-left: 10px;
	}

	#drop_downs span:after {
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		top: 49%;
		right: 0;
		border-top-color: #707070;
		border-width: 5px;
		margin-left: -5px;
	}

	#drop_downs span:hover,
	#drop_downs .hover span {color: #1f1d1e; cursor: pointer;}

	#drop_downs span:hover:after {border-top-color: #1f1d1e;}

#dd {
	margin: 0;
	padding: 0;
	list-style: none;
}

	#dd li {
		display: inline;
	}

.dd_menu {
	display: none;
	width: 120px;
	padding: 5px 0;
	margin: 0;
	list-style: none;
	position: absolute;
	top: 50px;
	background: rgba(255, 255, 255, .8);
	border-radius: 10px;
	box-shadow: 0px 0px 5px #000;
	z-index: 100;
	line-height: 24px;
	text-align: center;
	font-size: 14px;
}

	#dd .dd_menu li,
	.dd_menu a {display: block;}

	#breadcrumb .dd_menu a {color: #707070;}
	#breadcrumb .dd_menu a:hover {color: #a11d21;}

	#category_menu {right: 55px;}
	#sort_menu {right: 0;}

#left_col, #right_col {margin-bottom: 50px;}

#left_col {
	width: 550px;
	float: left;
}

#right_col {
	width: 350px;
	float: right;
}

/*-------------------------- Categories Page --------------------------*/

.cat {
	display: block;
	width: 310px;
	height: 310px;
	float: left;
	margin: 0 10px 10px 0;
	position: relative;
	background: #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity: .8;
	opacity: .8;
}

.cat.right {margin-right: 0;}

.cat:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
	opacity: 1;
}


	.cat h4 {
		height: 50px;
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
		margin: 0;
		background: #000; /*IE*/
		background: rgba(0, 0, 0, .65);
		font-size: 30px;
		font-weight: 300;
		text-indent: 40px;
		color: #fff;
	}

.content_text h4 {
	margin-bottom: 15px;
	font-size: 24px;
	font-weight: 300;
}

.content_text {
	clear: both;
	padding: 10px 0 30px 0;
}

#pagination {
	margin-top: 10px;
	text-align: center;
}

	#pagination a, #pagination ul li span {
		display: inline-block;
		border-radius: 3px;
		border: 1px solid #ddd;
		padding: 5px 10px;
		margin: 0 2px;
		color: #4b4b4b;
	}

	#pagination a.selected,
	#pagination a:hover {
		background: #e7e7e7;
		border-color: #bcbcbc;
	}

/*-------------------------- Product Page --------------------------*/

#product_image {
	margin-bottom: 20px;
}

	#product_image img {
		box-shadow: 0 0 5px #000;
		margin-bottom: 10px;
	}

	#product_image span {float: right; color: #c2c2c2;}

#zoom {
	display: block;
	width: 54px;
	height: 22px;
	float: left;
	background: url(images/zoom.gif) 0 top no-repeat;
}

#zoom:hover {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
	background-position: 0 bottom;
}

#tabs {
	margin-bottom: 20px;
	font-weight: bold;
}

	#tabs a {color: #707070;}
	#tabs a:hover {color: #a11d21;}

#product_header {
	margin-bottom: 30px;
}

	#product_header h4 {
		display: inline;
		margin-bottom: 0;
		font-size: 24px;
		font-weight: 300;
	}

	#product_header span {
		display: block;
		float: right;
		color: #a11d21;
		font-size: 30px;
	}

		#product_header span i {
			position: relative;
			top: -10px;
			font-size: 18px;
			font-style: normal;
		}

.customize_title {
	height: 25px;
	margin-bottom: 10px;
	padding-left: 40px;
	border-bottom: 1px solid #c2c2c2;
	background: url(images/customize_step_1.gif) 0 0 no-repeat;
}

.customize_title#materials {background: url(images/customize_step_2.gif) 0 0 no-repeat;}

	.customize_title h4 {
		display: inline;
		margin-bottom: 0;
		font-size: 14px;
		font-weight: 400;
	}

#size_mural span {
	display: inline-block;
	float: right;
	margin-top: 6px;
	color: #c2c2c2;
}

	#size_mural span em {font-weight: bold;}

#mural_size {width: 270px;}

#materials {
	margin-top: 20px;
}

#quantity {
	width: 50px;
	padding-left: 6px;
}

#add_to_cart {float: right;}

#discount {font-size: 10px;}

/*-------------------------- Shopping Cart Page --------------------------*/

#product_detail {
	padding: 0 0 20px 40px;
	border-bottom: 1px solid #c2c2c2;
	position: relative;
}

	#product_detail a.cta {
		position: absolute;
		top: -45px;
		right: 0;
	}

	#product_detail span {
		display: block;
		margin-bottom: 10px;
		color: #707070;
		font-size: 14px;
		font-weight: bold;
	}

.item_detail,
.item_detail img,
.product_desc {float: left;}

.product_desc {margin: 0 0 0 50px;}

	.product_desc p {
		margin-top: 0;
		font-weight: bold;
	}

.item_total,
.item_quantity,
.item_price {
	float: right;
	margin-left: 50px;
	font-size: 14px;
}

.item_total {width: 120px;}

#item_no {width: 50px;}

#product_sub_total {
	padding: 10px 0;
	border-bottom: 1px solid #c2c2c2;
	font-weight: bold;
}

	#product_sub_total span,
	#shipping_price span,
	#coupon_discount span,
	#grand_total span {
		display: inline-block;
		width: 120px;
		margin: 0 0 0 50px; 
		font-size: 14px;
	}

#sub_total, #taxes {float: right; clear: right;}
#sub_total {margin-bottom: 10px;}

#product_shipping strong,
#product_shipping .input_wrap,
#product_shipping a,
#product_coupon strong,
#product_coupon .input_wrap,
#product_coupon a {float: left;}

#product_shipping,
#product_coupon {
	padding: 10px 0;
	border-bottom: 1px solid #c2c2c2;
}

	.detail_label {margin: 20px 20px 0 0;}
	#product_shipping .input_wrap {margin: 0 20px 0 0;}
	#product_shipping .cta, #product_coupon .cta {margin: 16px 20px 0 0;}

#zip_wrap, #shipping_zip {width: 70px;}

#ship_wrap {width: 230px;}

#shipping_price,
#coupon_discount,
#grand_total {
	float: right;
	margin-top: 14px;
}

#shipping_method {width: 230px;}

#product_coupon .input_wrap, 
#product_coupon .input_wrap input {width: 150px;}

#product_coupon {margin-bottom: 10px;}

#product_coupon .input_wrap {margin: 0 20px 0 0;}

#coupon_discount {color: #a11d21;}

#grand_total {
	margin-top: 0;
	float: right;
}

#grand_total span {font-size: 24px;}

#shop_buttons {margin: 10px 0 10px 0;}
#shop_buttons a:last-child {float: right;}

#policy {
	text-align: right;
	line-height: 20px;
}

	#policy span {font-size: 10px;}

#acc_title {
	border-bottom: 1px solid #c2c2c2;
	font-size: 18px;
	font-weight: 300;
}

#carousel_1,
#carousel_2 {
	position: relative;
	margin-bottom: 60px;
}

.prev, .next {
	display: block;
	width: 36px;
	height: 85px;
	background: url(images/carousel_arrows.gif) 0 0 no-repeat;
	position: absolute;
	top: 50px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    -moz-opacity: .6;
	opacity: .6;
}

.prev:hover, .next:hover {
	cursor: pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
	opacity: 1;
}

.prev {left: 0;}

.next {
	background-position: -36px 0;
	right: 0;
}

.carousel {margin-left: 50px;}

.carousel li {
	width: 170px;
	height: 230px;
}

	.carousel li img {margin-bottom: 10px;}

	.carousel li a {color: #707070;}
	.carousel li a:hover {color: #a11d21;}

/*-------------------------- Review Order Page --------------------------*/

.item_specifics {
	float: left;
	margin: 30px 0 0 50px;
}

	.item_specifics div {
		float: left;
		margin-right: 30px;
	}

	.item_specifics ul {
		padding-left: 25px;
		margin: 0 0 5px 0;
	}

#item_specific_price {
	position: absolute;
	top: 0;
	right: 0;
	font-weight: bold;
	font-size: 18px;
	color: #3766ff;
}

.remove {
	float: right;
	margin-top: 30px;
	text-align: right;
}

.remove a {
	display: inline-block;
	width: 22px;
	height: 22px;
	background: url(images/remove_x.gif) 0 0 no-repeat;
}

#shipping_cost {
	margin-bottom: 30px;
	padding: 15px 0;
	border-bottom: 1px solid #c2c2c2;
}

	#shipping_cost strong {margin-right: 20px; font-size: 14px;}

	#shipping_cost span {
		float: right;
		font-weight: bold;
		font-size: 18px;
		color: #3766ff;
	}

#addresses {
	margin-bottom: 30px;
	border-bottom: 1px solid #c2c2c2;
}

#addresses strong {font-size: 14px;}

#addresses p {margin-bottom: 20px;}

#order_total {
	height: 100px;
}

	#order_total span {
		float: right;
		font-size: 24px;
		color: #c2c2c2;
	}

		#order_total span i {
			font-style: normal;
			color: #82e21b;
		}

#place_order {
	float: right;
	margin-left: 50px;
}

/*-------------------------- Billing Shipping Page --------------------------*/

.form_content {
	width: 600px;
}

#info input[type="text"],
.half_col_right input[type="text"] {
	width: 270px;
}

#info strong {font-size: 14px;}

#info .small {
	display: inline-block;
	margin-bottom: 10px;
	font-size: 10px;
}

#info .input_wrap {
	width: 270px;
	float: left;
	margin-right: 15px;
}

#use_billing_address {
	margin: 0 10px 10px 0;
}

#info #exp_dates {
	width: 600px;
}

#gift_message {
	width: 550px;
	height: 90px;
	resize: none;
}

.clear.border {
	margin-bottom: 20px;
	padding-top: 10px;
	border-bottom: 1px solid #c2c2c2;
}

/*-------------------------- Account Information Page --------------------------*/

.half_col_left,
.half_col_right {
	width: 424px;
	margin-bottom: 50px;
	padding-left: 50px;
}

.half_col_left {
	float: left;
	border-right: 1px solid #c2c2c2;
}

.half_col_right {
	float: right;
	border-left: 1px solid #c2c2c2;
	left: -1px;
	position: relative;
}

.spacer_50 {height: 50px;}

#cc_information strong {
	display: inline-block;
	float: left;
	width: 120px;
	margin-right: 10px;
	text-align: right;
}

#cc_information span {
	display: inline-block;
}

/*-------------------------- Form Elements --------------------------*/

input[type="text"], input[type="password"],
select,
textarea {
	height: 28px;
	border-radius: 3px;
	background: #fbfbfb;
	border: 1px solid #b7b7b7;
	font-family: Arial, Helvetica, sans-serif;
}

select {
	height: 32px;
	width: 190px;
	padding: 6px;
}

.input_wrap {
	margin-bottom: 10px;
}

/*---------------------------------------- Footer ----------------------------------------*/

#footer {height: 250px;}

	#footer .content {
		padding-top: 20px;
	}

#share {
	height: 20px;
	float: right;
	margin-bottom: 10px;
}

#gift_card {
	width: 94px;
	float: right;
	clear: right;
}

	#gift_card a {
		display: block;
		width: 94px;
		height: 64px;
		background: url(images/gift_card.png) 0 0 no-repeat;
		text-indent: -5000px;
	}

.f_col {
	width: 150px;
	float: left;
	color: #363636;
}

	.f_col ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.f_col h4 {
		margin-bottom: 0;
		font-size: 14px;
		font-family: inherit;
	}

	.f_col a {color: #363636;}

#copyright {margin-top: 35px;}






























